---
interface Props {
    src: string,
    alt: string,
    title: string,
    subtitle: string,
}

const { src, alt, title, subtitle } = Astro.props;
---
<li>
    <article class="rounded h-full transform duration-300">
        <picture class="block rounded w-full h-screen mx-auto">
            <source srcset={`${src}.webp`} />
            <img src={`${src}.jpg`} alt={alt} />
        </picture>
        <div class="p-1.5">
            <h3 class="text-white text-balance text-center text-2xl my-3">{title}</h3>
            <p class="text-white pb-5 text-center text-balance">{subtitle}</p>
        </div>
    </article>
</li>
<style>
    article {
        max-width: 300px;
        opacity: 0.6;
        transform: translateY(100px);
        animation: fadeIn ease-in-out forwards;
        animation-timeline: view();
        animation-range: 250px 500px;
    }

    picture {
        max-width: 400px;
        object-fit: cover;
        object-position: center;
        aspect-ratio: 1/2;
        max-height: 200px;
        overflow: hidden;
    }

    img {
        height: 100%;
        width: 100%;
        object-position: center;
        object-fit: cover;
        transition: all 0.3s ease-in-out;
    }

    article:hover img {
        transform: scale(1.1);
    }

    @keyframes fadeIn {
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
</style>
